<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Collezione Lattine di Monster</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1>Collezione Lattine di Monster</h1>

    {{if .SuccessMessage}}
    <div class="message success">{{.SuccessMessage}}</div>
    {{end}}

    {{if .ErrorMessage}}
    <div class="message error">{{.ErrorMessage}}</div>
    {{end}}

    <!-- Aggiungi pulsanti per navigare alle pagine add e remove-->
    <div class="button-container">
        <a href="/add">Aggiungi una lattina</a>
        <a href="/remove">Rimuovi una lattina</a>
    </div>

    <!-- Lista delle lattine-->
    <div class="container">
        {{range .Cans}}
        <div class="item">
            <h2>{{.Name}}</h2>
            <p><strong>Gusto:</strong> {{.Flavor}}</p>
            <img src="{{.Image}}" alt="{{.Name}}">
            <form action="/" method="post" style="display: inline;">
                <input type="hidden" name="barcode" value="{{.Barcode}}">
                <button type="submit" name="remove" value="true">Rimuovi</button>
            </form>
            <!-- <p><strong>Codice a Barre:</strong> {{.Barcode}}</p> -->
        </div>
        {{end}}
    </div>
    <a href="/add">Aggiungi una nuova lattina</a>
</body>

</html>